
.order-fon{
    position: relative;
    padding-bottom: 170px;
    overflow: hidden;
}
.order-fon:before, .order-fon:after{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 692px;
    width: 100%;
    height: 1099px;
    z-index: -1;
}
.order-fon:before{
    top: -160px;
    left: 0;
    background-image: url("../images/icon/order-blur-left.png");
    max-width: 692px;
}
.order-fon:after{
    top: 0;
    right: 0;
    background-image: url("../images/icon/order-blur-right.png");
    max-width: 743px;
}

.order-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    grid-gap: 15px;
}
.order-menu ul li a{
    border: 1px solid #505050;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    transition: 0.3s;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px 57px;
    white-space: nowrap;
    color: #ffffff;
}

.order-menu ul li a:hover{
    background: #F63737;
    border: 1px solid #F63737;
}
.order-menu ul .order-menu__active a{
    background: #F63737;
    border: 1px solid #F63737;
}

.order-text__act{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151419;
    border-radius: 10px;
    padding: 11px 15px;
}
.order-text__act img{
    margin-right: 13px;
}
.order-text__act span{
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
}
.order-text__act a{
    color: #F63737;
    border-bottom: 1px solid #F63737;
}
.order-text__act a:hover{
    border-bottom: 1px solid transparent;
}
.show-expert-orders{
    margin: 15px auto 0;
    max-width: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 25px;
    border: 1px solid #F63737;
    transition: 0.3s;
    border-radius: 15px;
}
.show-expert-orders:hover{
   background: #F63737;

}
.show-expert-orders span{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
}

.show-expert-orders img{
    margin-right: 10px;
}
.order__error, .global-padd-pers{
    padding-bottom: 178px;

}
.order__error{
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.global-padd-pers{
    margin-top: 75px;
    width: 100%;
}
.order__error h2{
    margin-top: 35px;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.my-orders__info{
    margin-bottom: 50px;
}
.forwarded-ports{
    max-width: 945px;
    width: 100%;
    margin-top: 15px;

}
.forwarded-ports__flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.forwarded-ports__type{
    display: flex;
    align-items: center;
    max-width: 440px;
    width: 100%;
    grid-gap: 15px;
    justify-content: space-between;
}
.forwarded-ports__public{
    max-width: 507px;
    width: 100%;
    margin-left: 15px;
}
.configure-order__inp label + label{
    margin-top: 5px;
}
.open-spot-market{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 515px;
    width: 100%;
    grid-gap: 15px;
}
.open-spot-market .btn-liner + .btn-liner{
    max-width: 191px;
}
.ptichka-red:before{
    content: url("../images/icon/yarlik-red.svg");

}

.order-fon .machine-specs__cnt .title__account {
    font-size: 20px;
    line-height: 24px;
    text-transform: initial;

}
.read-our-transa{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.read-our-transa>span{
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #525252;
    margin-right: 10px;
}
.proof-hold__red svg path{
    fill: #F63737;

}
.proof-hold__red span {
    color: #F63737;
    border-bottom: 1px solid #F63737;
}
.proof-hold__red:hover span{
    border-bottom: 1px solid transparent;
}
.server-initializing{
    margin: 40px 0;
}
.server-initializing strong{
    font-family: 'Gilroy';
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}

.href-messages-page{
    border: 1px solid #EEEEEE1A;
    padding: 15px 30px;
    width: 100%;
    border-radius: 25px;
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    position: relative;
    display: flex;
}
.href-messages-page:after{
    content: "";
    position: absolute;
    top: 25px;
    right: 37px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
    transition: 0.3s;
}
.messages-chat{
    border: 1px solid #EEEEEE1A;
    border-radius: 25px;
    padding: 25px 60px 40px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 792px;
}
.messages-chat h3{
    text-align: center;
}
.style-name{
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
}
.messages-chat__cnt{
    margin-top: 60px;
}
.messages-chat-answer{
    margin-top: 10px;
    position: relative;
    padding-left: 46px;
    max-width: 351px;
    width: 100%;
}
.messages-chat-answer:before, .messages-chat-question:before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #F63737 url("../images/icon/icon-user.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
}

.chat-answer-question{
    margin-bottom: 10px;
    max-width: 305px;
    width: 100%;
    padding: 11px 20px;
    background: #151419;

}
.chat-answer-question span{
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    display: block;
}
.messages-chat-question{
    position: relative;
    padding-right: 46px;
    margin-left: auto;
    max-width: 351px;
    width: 100%;
}
.messages-chat-question:before{
    left: auto;
    right: 0;
    background: #F63737 url("../images/icon/naushnik-white.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.messages-chat__flex{
    margin-top: 20px;
    display: flex;
    align-items: center;

}
.messages-chat__inp{
    max-width: 1265px;
    width: 100%;
}
.messages-chat__inp label{
    display: flex;
    width: 100%;
}
.messages-chat__inp input{
    border-radius: 35px;
    border: 1px solid #525252;
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
}
.messages-chat__inp textarea::placeholder{
    color: #525252;
}
.messages-chat__btn{
    margin-left: 15px;
    max-width: 50px;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: #F63737;
}


.new-order__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 170px;
}
.new-order__left{
    max-width: 383px;
    width: 100%;
    padding: 25px 20px 94px 20px;
    border-radius: 10px;
    background: linear-gradient(0deg, #00110F, #00110F),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #FFFFFF;
}





.order-filter__cnt{
    border: 1px solid #505050;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: 25px;
}
.order-filter__cnt .text-opacity {
    margin-left: 19px;
}
.order-filter__range{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 3px;
}

.order-filter__range .noUi-target {
    border-radius: 3px;
    box-shadow: unset;
    border: unset;
}
.order-filter__range .noUi-connects {
    border-radius: 3px;
    height: 4px;
    background: #ffffff;
    border: unset;
}
.order-filter__range .noUi-connect {
    background: #F63737;
    height: 5px;

}
.order-filter__range .noUi-horizontal .noUi-handle {
    width: 4px;
    height: 15px;
    background: #F63737;
    box-shadow: unset;
    border-radius: 5px;
    cursor: pointer;
    border: unset;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -1px;
    top: 51%;
    -webkit-transform: translateY(-51%);
    -ms-transform: translateY(-51%);
    transform: translateY(-51%);
}

.order-filter__number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    padding: 0 6px;
}
.order-filter__number input{
    width: 50px;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: right;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.check-ptich{
    margin-top: 15px;
}
.check-ptich .checkcontainer input:checked ~ .checkmark {
    border: 1.5px solid #ffffff;
}
.check-ptich .checkcontainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(42deg);
    -ms-transform: rotate(45deg);
    transform: rotate(41deg);
    border-radius: 0;
    background: unset;
}
.order-filter__gb:first-child{
    margin-left: -31px;
}
.order-filter__gb{
    display: flex;
    align-items: center;
}
.order-filter__gb span{
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}

.order-filter__gb .order-filter__gb input{
    width: 60px;
}

.calculate__hide .noUi-origin {
    height: 5px;
    background: #F63737;
}

.filter-one__inp {
    justify-content: center;
}
.new-order__left .configure__select{
    margin-top: 25px;
}

.new-order__right{
    max-width: 1127px;
    width: 100%;
    margin-left: 20px;
}
.new-order__box{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #505050;
    border-radius: 15px;
    padding: 14px 30px;
}
.new-order__box span{
    font-family: 'Gilroy';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
    display: block;
    margin-bottom: 9px;
}
.new-order__box h3{
    font-family: 'TT Firs Neue';
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
}

.new-order__cnt{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.new-order__name{
    max-width: 222px;
    width: 100%;
}
.new-order__name span b{
    color: #F63737;
}
.new-order__info{
    max-width: 230px;
    width: 100%;
    margin-top: 15px;
}
.new-order__info + .new-order__info{
    margin-left: 25px;
}

.new-order__unverified{
    display: flex;
    align-items: center;
}
.new-order__unverified span{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #46CA93;
    margin-bottom: 0;
}
.new-order__box .color__yellow{
    display: inline;
    color: #F1DE36;

}
.color__yellow{
    color: #F1DE36;
}
.new-order__box .color__green{
    color: #46CA93;
    display: inline;
}
.color__green{
    color: #46CA93;
}
.order-xaract__ram{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 195px;
}
.new-order__disk{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.new-order__disk + .new-order__disk{
    margin-top: 9px;

}
.new-order__disk span{
    margin-bottom: 0;
}
.arrow-top-green{
    border-top: 2px solid #46CA93;
    border-right: 2px solid #46CA93;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    margin-bottom: -2px;
}
.arrow-bot-red{
    border-top: 2px solid #F63737;
    border-right: 2px solid #F63737;
    width: 8px;
    height: 8px;
    transform: rotate(135deg);
    margin-bottom: 6px;
}
.new-order__disk span{
    margin-left: 9px;
}
.new-order__rent{
    max-width: 278px;
    width: 100%;
    margin-top: 10px;
    margin-right: 30px;
}
.new-order__rent button{
    margin-right: 15px;
    padding: 7px 31px;
}
.new-order__rent span {
    margin: 20px 0 5px;
    display: block;
}
.new-order__rent p, .new-order__name p{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #525252;
}
.new-order__fave{
    display: flex;
    align-items: center;

}
.total-holding__spot{
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.order-affer__height{
    min-height: 750px;
}
.order-affer__height .servers-kod__name {
    max-width: 100%;
}



/*=========-pages-wallet-========*/

@media (max-width: 760px){
    body .wallet__box-img {
        width: 58px;
        height: 58px;
    }
    body .wallet__box-button {
        gap: 30px;
        padding: 25px 25px;
    }
    body .partner-wallets__box-item {
        padding: 25px 30px;
        gap: 30px;
    }
}


@media (max-width: 1690px){
    .new-order__name {
        max-width: 170px;
    }
}
@media (max-width: 1440px){
    .new-order__cnt {
        flex-wrap: wrap;
    }
    .new-order__left {
        max-width: 394px;
        padding: 20px 25px 60px 25px;
    }

    .new-order__rent span {
        margin-left: 12px;
        margin-right: 9px;
    }

}
@media (max-width: 1280px){
    .order-filter__cnt {
        padding: 15px 12px;
    }
    .new-order__left {
        max-width: 350px;
        padding: 20px 20px 60px 20px;
    }

    .new-order__box span {
        font-size: 17px;
        line-height: 22px;
    }

    .new-order__rent p, .new-order__name p {
        font-size: 16px;
    }
    .new-order__box span {
        font-size: 16px;
    }
    .new-order__rent .btn-liner + .btn-liner{
        max-width: 120px;
    }
    .new-order__box {
        padding: 20px 17px;
    }
}
@media (max-width: 1200px){
    .total-holding__spot {
        margin: 0 10px;
    }
    .total-holding p, .total-holding span {
        font-size: 17px;
    }
    .new-order__rent{
        margin-right: 0;
    }
    .new-order__disk {
        margin-top: 12px;
    }
}
@media (max-width: 1026px){
    .order-fon:before{
        display: none;
    }
    .order-fon:after{
        display: none;
    }
    .order-menu ul {
        justify-content: space-around;
    }
    .order-menu ul li a {
        font-size: 18px;
        line-height: 21px;
        height: 50px;
        padding: 10px 40px;
    }
    .order-fon {
        padding-bottom: 150px;
    }
    .global-padd-pers {
        margin-top: 50px;
        width: 100%;
    }
    .order__error, .global-padd-pers {
        padding-bottom: 60px;
    }
    .href-messages-page {
        padding: 15px 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .messages-chat {
        padding: 25px 20px 30px;
        margin-top: 30px;
        min-height: 592px;
    }
    .order-text__act span {
        font-size: 16px;
        line-height: 22px;
    }
    .new-order__flex {
        margin-bottom: 100px;
        flex-direction: column;
    }
    .order-filter__cnt {
        padding: 15px 12px;
        width: 48%;
    }
    .check-ptich {
        margin-top: 15px;
        width: 100%;
    }
    .check-ptich .checkcontainer{
        width: max-content;
    }
    .new-order__left {
        max-width: 850px;
        padding: 30px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .order-filter__range {
        max-width: 288px;
    }
    .order-filter__number input {
        width: 45px;
        font-size: 18px;
        line-height: 22px;
    }
    .order-filter__gb span {
        font-size: 18px;
        line-height: 22px;
    }
    .order-filter__gb:first-child {
        margin-left: -16px;
    }
    .new-order__left .configure__select {
        margin-top: 20px;
        max-width: 100%;
    }
    .new-order__right {
        margin-left: 0;
        margin-top: 25px;
    }
}
@media (max-width: 868px){
    .messages-chat__cnt {
        margin-top: 45px;
    }
    .messages-chat-question {
        max-width: 300px;
    }
    .messages-chat-answer {
        max-width: 300px;
    }
    .chat-answer-question span {
        font-size: 16px;
        line-height: 20px;
    }
    .order-affer__height {
        min-height: auto;
    }
    .order-filter__range {
        max-width: 220px;
    }
    .text-opacity {
        font-size: 18px;
    }
    .order-filter__cnt .text-opacity {
        margin-left: 14px;
    }
    .new-order__rent button {
        margin-right: 9px;
    }
    .new-order__disk {
        margin-top: 23px;
    }
}
@media (max-width: 760px) {
    .new-order__rent button {
        padding: 7px 14px;
    }
    .order-menu ul {
        grid-gap: 10px;
        flex-wrap: wrap;
    }
    .order-menu ul li a {
        font-size: 16px;
        line-height: 21px;
        height: 42px;
        padding: 10px 25px;
    }
    .global-padd-pers {
        margin-top: 30px;
    }
    .order-menu ul{
        justify-content: center;
    }
    .order-menu ul li a {
        font-size: 14px;
        line-height: 21px;
        height: auto;
        padding: 7px 15px;
    }
    .show-expert-orders span {
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
    }
    .forwarded-ports__flex {
        align-items: flex-start;
        flex-direction: column;
    }
    .forwarded-ports__public {
        max-width: 550px;
        width: 100%;
        margin-left: 0;
    }
    .forwarded-ports__type {
        max-width: 550px;
        grid-gap: 15px;
    }
    .server-initializing strong {
        font-size: 18px;
        line-height: 22px;
    }
    .server-initializing {
        margin: 25px 0;
    }
    .new-order__left {
        padding: 25px 14px;
    }
    .order-filter__cnt .text-opacity {
        margin-left: 0;
    }
    .order-filter__number {
        padding: 0;
    }
    .new-order__box span {
        font-size: 14px;
        line-height: 18px;
    }

    .new-order__rent p{
        margin-top: 15px;
    }
    .new-order__box h3 {
        font-size: 20px;
        line-height: 26px;
    }

}

@media (max-width: 570px){
    .style-name {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    .messages-chat {
        padding: 20px 15px 25px;
        margin-top: 20px;
        min-height: auto;
    }
    .messages-chat__btn {
        margin-left: 10px;
        max-width: 40px;
        height: 40px;
    }
    .messages-chat__inp input {
        height: 40px;
        padding: 10px 13px;
        font-size: 16px;
    }
    .chat-answer-question span {
        font-size: 14px;
    }
    .chat-answer-question {
        padding: 8px 12px;
    }
    .messages-chat-answer:before, .messages-chat-question:before {
        width: 30px;
        height: 30px;
    }
    .messages-chat-question {
        padding-right: 39px;
    }
    .messages-chat-answer {
        padding-left: 39px;
    }
    .order__error {
        margin-top: 64px;
    }
    .order__error h2 {
        margin-top: 22px;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
    }
    .order-fon .machine-specs__cnt .title__account {
        font-size: 17px;
        line-height: 24px;
    }
    .machine-specs__box strong, .machine-specs__box a {
        font-size: 14px;
        line-height: 19px;
        max-width: max-content;
        text-align: right;
    }
    .forwarded-ports__type {
        max-width: 550px;
        grid-gap: 10px;
        flex-direction: column;
    }
    .open-spot-market {
        margin-top: 25px;
        grid-gap: 9px;
    }
    .read-our-transa>span {
        font-size: 16px;
    }
    .order-filter__number input {
        font-size: 16px;
    }
    .order-filter__gb span {
        font-size: 16px;
    }
    .new-order__cnt {
        flex-direction: column;
    }
    .new-order__info {
        margin-top: 15px;
    }
    .new-order__info + .new-order__info {
        margin-left: 0;
    }
    .order-xaract__ram {
        max-width: 176px;
    }
    .new-order__rent {
        margin-top: 30px;
        max-width: 300px;
    }
    .new-order__rent>span{
        margin-top: 10px;
        margin-left: 0;
    }
    .new-order__rent p {
        margin-top: 10px;
    }
    .new-order__rent button {
        max-width: 129px;
    }
    .new-order__rent .btn-liner + .btn-liner {
        max-width: 100px;
    }
    .check-ptich {
        margin-top: 10px;
    }
    .new-order__left {
        padding: 15px 14px 20px;
    }
}
@media (max-width: 500px){
    .order-menu ul li a {
        font-size: 12px;
        line-height: 21px;
        height: auto;
        padding: 7px 10px;
        font-weight: 500;
    }
    .order-filter__cnt {
        padding: 15px 12px;
        width: 100%;
        max-width: 264px;
    }
    .order-text__act span {
        font-size: 13px;
        line-height: 22px;
    }
    .show-expert-orders span {
        font-size: 14px;
        line-height: 21px;
    }
    .href-messages-page {
        padding: 10px 15px;
        font-size: 14px;
        line-height: 17px;
    }
    .href-messages-page:after {
        top: 13px;
        right: 17px;
        width: 8px;
        height: 8px;
    }
}