@font-face {
  font-family: 'TT Firs Neue';
  src:
    local('TT Firs Neue Light'),
    local('TT-Firs-Neue-Light'),
    url('TTFirsNeue-Light.woff2') format('woff2'),
    url('TTFirsNeue-Light.woff') format('woff'),
    url('TTFirsNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
