@import url('colors.css');
@import url('../components/grid/css/grid.css');
@import url('../components/button/css/button.css');
@import url('../components/sidebar-menu/css/sidebar-menu.css');
@import url('../components/back-link/css/back-link.css');
@import url('../components/box/css/box.css');
@import url('../components/alert/css/alert.css');

@font-face {
    font-family: 'TT-Firs-Neue';
    src: url("../fonts/TT%20Firs%20Neue/TT-Firs-Neue-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'TT-Firs-Neue-Medium';
    src: url("../fonts/TT%20Firs%20Neue/TT-Firs-Neue-Medium.ttf") format('truetype');
}

/* fonts */
.aero-h1,
.aero-h2,
.aero-h3,
.aero-h4,
.aero-h5,
.aero-h6 .aero-b1,
.aero-b2,
.aero-b3,
.aero-b4,
.aero-caption {
    color: var(--aero-white);
    font-family: "TT-Firs-Neue", sans-serif !important;
    font-style: normal;
}

.aero-h1 {
    /* Desktop/H1 */
    font-size: var(--aero-h1);
    font-weight: 500;
    line-height: 100%;
    /* 60px */
}

.aero-h2 {
    /* Desktop/H2 */
    font-size: var(--aero-h2);
    font-weight: 500;
    line-height: 100%;
    /* 40px */
}

.aero-h3 {
    /* Desktop/H3 */
    font-size: var(--aero-h3);
    font-weight: 500;
    line-height: 100%;
    /* 30px */
}

.aero-h4 {
    /* Desktop/H4 */
    font-size: var(--aero-h4);
    font-weight: 500;
    line-height: 100%;
    /* 28px */
}

.aero-h5 {
    /* Desktop/H5 */
    font-size: var(--aero-h5);
    font-weight: 500;
    line-height: 100%;
    /* 26px */
}

.aero-h6 {
    /* Desktop/H6 */
    font-size: var(--aero-h6);
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.24px;
    font-weight: 500;
}

.aero-b1 {
    /* Desktop/B1 */
    font-size: var(--aero-b1);
    font-weight: 400;
    line-height: 120%;
    /* 26.4px */
}

.aero-b2 {
    /* Desktop/B2 */
    font-size: var(--aero-b2);
    font-weight: 400;
    line-height: 125%;
    /* 25px */
}

.aero-b3 {
    /* Desktop/B3 */
    font-size: var(--aero-b3);
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
}

.aero-b4 {
    /* Desktop/B4 */
    font-size: var(--aero-b4);
    font-weight: 400;
    line-height: 135%;
    /* 21.6px */
}

.aero-caption {
    /* Desktop/Caption */
    font-size: var(--aero-caption);
    font-weight: 400;
    line-height: 135%;
    /* 18.9px */
}

/* Buttons */
.aero-btn-primary,
.aero-btn-secondary {
    cursor: pointer;
    border: 1px solid var(--aero-red);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aero-white);
    font-size: 18px;
    padding: 12px 24px;
    transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    * {
        font-weight: 400 !important;
        color: var(--aero-white) !important;
    }

    &:hover {
        border-color: var(--aero-salmon);
    }

    /* for button */

    &:disabled {
        color: var(--aero-white40);
        border-color: var(--aero-dark-red);
        cursor: not-allowed;
    }
}

/* Buttons v2 */
.aero-btn-primary-v2,
.aero-btn-secondary-v2 {
    border: none;
    cursor: pointer;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aero-white);
    font-size: 18px;
    padding: 4px 20px;
    height: 40px;
    gap: 8px;

    * {
        font-weight: 400 !important;
        color: var(--aero-white) !important;
    }

    /* for button */

    &:disabled {
        color: var(--aero-white40);
        cursor: not-allowed;
    }
}

.aero-btn-primary .fa-solid,
.aero-btn-secondary .fa-solid {
    font-weight: bold !important;
}

.aero-btn-primary {
    background-color: var(--aero-red);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
        background-color: var(--aero-salmon);
    }

    /* for button */

    &:disabled {
        background-color: var(--aero-dark-red);
    }
}

.aero-btn-secondary {
    background-color: transparent;
}

.aero-btn-primary-v2 {
    background-color: var(--aero-red);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
        background-color: var(--aero-salmon);
    }

    /* for button */

    &:disabled {
        background-color: var(--aero-dark-red);
    }
}

.aero-btn-secondary-v2 {
    background-color: var(--aero-gray20);
}

/* for div */
.aero-btn-primary-disabled,
.aero-btn-secondary-disabled {
    color: var(--aero-white40);
    border-color: var(--aero-dark-red);
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
        border-color: var(--aero-dark-red);
    }
}

.aero-btn-primary-disabled {
    background-color: var(--aero-dark-red);

    &:hover {
        background-color: var(--aero-dark-red);
    }
}

.aero-btn-primary-success,
.aero-btn-secondary-success {
    background-color: var(--aero-green) !important;
    border-color: var(--aero-green) !important;
    transition: all 0.3s ease-in-out !important;
    pointer-events: none;
    cursor: default;

    &:hover {
        background-color: var(--aero-green) !important;
    }
}

.w100 {
    width: 100%;
    max-width: 100%;
}

[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media (max-width: 1439px) {
    .header {
        padding-top: 30px !important;
        padding-bottom: 0 !important;
    }
}

.nav__sublist {
    z-index: 1;
}

.environment {
    border-top: none;
    background-color: var(--aero-black);
    min-height: auto;
    align-content: flex-start;
}

.section-margin {
    width: 100%;
    margin-top: 40px !important;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .section-margin {
        width: 100%;
        margin-top: 24px !important;
    }
}

.market-top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    gap: 16px 0;
    flex-direction: column;
    padding-bottom: 24px;

    >div {
        display: none;
    }
}

.market-top>span,
#mt-filters,
#mt-menu {
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    /*font-family: 'TT-Firs-Neue-500', sans-serif;*/
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    transition: 0.3s;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 16px 24px;
    white-space: nowrap;
    color: var(--aero-white60);
    text-decoration: none !important;
    margin: 0;
}

.market-top>span:hover {
    background: var(--aero-red);
    border: 1px solid var(--aero-red);
    color: var(--aero-white);
}

@media all and (max-width: 1199px) {
    .market-top {
        margin: 0;
        padding: 0 0 24px 0;
        border: none;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0 8px;
    }

    .market-top>div>span {
        width: 170px !important;
        justify-content: center !important;
    }

    .market-top>span {
        display: none;
    }

    .market-top>div {
        display: flex;
    }

    .market-top #mt-menu,
    .market-top #mt-filters {
        display: flex;
        background: var(--aero-red);
        border: 1px solid var(--aero-red);
        color: var(--aero-white);
    }

    #menu-modal {
        .market-top {
            flex-wrap: wrap;
            padding: 0;
            gap: 8px 0;
        }

        .market-top>span {
            display: flex;
        }
    }
}


.market-top {
    .mt-selected {
        background: var(--aero-red);
        border: 1px solid var(--aero-red);
        color: var(--aero-white);
    }
}

#mt-Marketplace {
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 1199px) {
    #mt-Marketplace {
        flex-direction: column;
    }
}

#mt-servers {
    margin-bottom: 60px;
    width: 100%;
}

/* 1920px */
@media all and (min-width: 1920px) {
    #mt-servers {
        margin-left: 40px;
        flex-direction: column;
    }
}

/* 1440px */
@media all and (max-width: 1919px) {
    #mt-servers {
        flex-direction: column;
        margin-left: 24px;
        margin-right: 0 !important;
        width: 100%;
    }
}

/* 1200px */
@media all and (max-width: 1439px) {
    #mt-servers {
        flex-flow: row wrap;
        margin-left: 20px;
        align-content: flex-start;
        margin-bottom: 30px;
    }
}

/* 992px */
@media all and (max-width: 1199px) {
    #mt-servers {
        margin-left: 0;
    }
}

/* For Filter */
.filters-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

@media all and (max-width: 1199px) {
    .filters-wrapper {
        margin-right: 0;
    }
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    min-width: 301px;
    margin-top: 24px;
    margin-bottom: 24px;

    &.loading {
        /*opacity: 0.8;*/
        filter: blur(1px);
        pointer-events: none;
        user-select: none;
    }
}

.filters-mobile .filter-group {
    background-color: var(--aero-gray4);
}

@media only screen and (max-width: 1199px) {
    .filters {
        margin-top: 0;
    }

    .filters-desktop {
        display: none;
    }
}

.rent-cnt__main {
    margin: 0;
}

@media only screen and (min-width: 950px) {
    #mt-servers {
        gap: 16px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}

/* The Modal (background) */
.aero-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    right: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /*background-color: rgb(0, 0, 0); !* Fallback color *!*/
    /*background-color: rgba(0, 0, 0, 0.4); !* Black w/ opacity *!*/
}

/* Modal Content */

.aero-modal .aero-modal-container {
    padding: 24px 16px;
    border-radius: 32px 0 0 0;
    background: var(--aero-modal-bg);
    height: 100%;
    position: relative;
    max-width: 375px;
    /*transform: translate(0, 0);*/
    left: 375px;
    margin-left: auto;
    transition: all 2000ms ease-in;
    overflow: auto;
}

/* The Close Button */

.aero-modal .close {
    top: 32px !important;
}

.aero-modal .close::before {
    height: 16px;
    width: 1px;
}

.aero-modal .close::after {
    width: 16px;
    height: 1px;
}

.aero-modal .aero-modal-close:hover,
.aero-modal .aero-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.aero-modal .aero-modal-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.aero-modal .aero-modal-header img {
    height: 32px;
}

.aero-modal.opened {
    display: block;
}

.aero-modal.opened .aero-modal-container {
    transition: all 2000ms ease-in;
    left: 0;
}

.mt-load-more {
    margin: 0;
    padding-bottom: 60px;
    max-width: 100%;
}

.mt-lm-btn {
    min-width: 175px;
    padding: 8px 40px;
    background: transparent;
    border: 1px solid var(--aero-red);
}

.mt-lm-btn>i {
    color: var(--aero-white);
}

.mt-lm-btn>span {
    font-size: 18px;
    padding: 0;
}

.ba-fd {
    display: flex;
    width: 100%;
    min-height: 32px;
    background-color: var(--aero-red);
    /*border: 1px solid red;*/
    /*border-radius: 10px;*/
    align-items: center;
    margin-bottom: 13px;
}

/* My servers page */
.a-page-back {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
}

.a-page-back-btn {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--aero-white60);
}

.a-title,
.a-status {
    display: inline-flex;
    width: 100%;
    max-width: 100%;
}

.a-status {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: auto;
    padding-left: 10px;
}

.a-info-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.a-rental-form {
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 9px;
    margin-bottom: 40px;
    flex-direction: column;
}

.a-rental-form-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(50% - 4.5px);

    .aero-input-icon {
        position: absolute;
        right: 16px;
        bottom: 16px;
        width: 20px;
        height: 20px;
    }

    .aero-input-wrapper {
        position: relative;
    }

    .aero-input {
        width: 100%;
        padding-right: 40px;
    }

    .aero-input-sign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .a-checkbox {
        gap: 0;
        cursor: pointer;
    }

    .a-select {
        width: 100%;
        max-width: 100%;
        background: #202020;
    }
}

.disable-filter {
    opacity: 0.7;
    pointer-events: none;
}
